<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Admin Home</title>
  <link rel="stylesheet" href="css/vendorHome.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">


  <%-include("partials/adminBanner")-%>
  <!-- dividing the info to vendor profiles, vendor tickets, user tickets -->
  <%const vendorList = adminInfoList.vProfile; %>
  <%const vendorTickets = adminInfoList.vTicket; %>
  <%const userTickets = adminInfoList.uTicket; %>

  <div class="container-fluid">
    <div class="row">
      <!-- display two cards of restaurants per row -->
      <div class="col-6">
        <h1>List of Approved/Unapproved Vendors</h1>

        <% let counter = 0; %>
        <% let rowClosed; %>
        <% vendorList.forEach(function(vendor){%>
        <%# if we hit a third vendor, create a new row %>
        <% if (counter % 2 == 0) { %>
        <div class="row">
          <% rowClosed = false; %>
          <%}%>
          <div class="col-sm">
            <div class="card" style="width: 21rem;">
              <img src="..." alt="Card image cap" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title"> <%= vendor.restaurant %> </h5>
                <p class="card-text"> <%= "Name: " + vendor.first + " " + vendor.last  %><br /><%= "Email: " + vendor.email %></p>
                <% if (!vendor.approved) { %>
                  <form class="" action="/adminApprove" method="post">
                    <input type="hidden" name="vendorEmail" value="<%=vendor.email%>">
                    <button type="submit" class="btn btn-success" name="button">Approve</button>
                  </form>
                  <%}%>
                <form class="" action="/adminRemove" method="post">
                  <input type="hidden" name="vendorEmail" value="<%=vendor.email%>">
                  <button type="submit" class="btn btn-danger" name="button">Remove</button>
                </form>
              </div>
            </div>
          </div>
          <!-- closing tag for new row  -->
          <% if (counter % 2 == 1) { %>
            <% rowClosed = true; %>
            </div>
          <%}%>
          <% counter++;%>
        <%});%>
        <%# if the row wasn't closed, close it now %>
        <% if (!rowClosed){ %>
          </div>
        <%}%>
      </div>
      <div class="col-3">
        <h1>Vendor Tickets</h1>
        <% vendorTickets.forEach(function(vT){ %>
          <% if (!(vT.status)) { %>
            <div class="row">
              <div class="card" style="width: 80%;">
                <div class="card-body">
                  <h5 class="card-title"> <%=vT.title%></h5>
                  <p class="card-text"><%= "Name: " + vT.ownerName %><br /><%= "Email: " + vT.ownerEmail  %><br /><%= "Recipient: " + vT.receiverName  %><br /><%= "Recipient Email: " + vT.receiverEmail  %><br /><%= "Body: " + vT.body%></p>
                  <form class="" action="/adminCloseVendorTicket" method="post">
                    <input type="hidden" name="vendorEmail" value="<%=vT.ownerEmail%>">
                    <button type="submit" name="button" class="btn btn-danger">Close</button>
                  </form>
                </div>
              </div>
            </div>
          <%}%>
        <%});%>
      </div>
      <div class="col-3">
        <h1>User Tickets</h1>
        <% userTickets.forEach(function(uT){ %>
          <% if (!(uT.status)){ %>
            <div class="row">
              <div class="card" style="width: 80%;">
                <div class="card-body">
                  <h5 class="card-title"> <%=uT.title%></h5>
                  <p class="card-text"><%= "Name: " + uT.ownerName %><br /><%= "Email: " + uT.ownerEmail  %><br /><%= "Recipient: " + uT.receiverName  %><br /><%= "Recipient Email: " + uT.receiverEmail  %><br /><%= "Body: " + uT.body%></p>
                  <form class="" action="/adminCloseUserTicket" method="post">
                    <input type="hidden" name="userEmail" value="<%=uT.ownerEmail%>">
                    <button type="submit" name="button" class="btn btn-danger">Close</button>
                  </form>
                </div>
              </div>
            </div>
          <%}%>
        <%});%>
      </div>
  </div>

  </div>

</body>

</html>
