<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Metrics</title>

    <%-include("partials/adminBanner.ejs")-%>
    <div id = "backgroundStockImage">
    </div>
    <h1 class="display-1">Admin Metrics Page</h1>

    <!-- this map will contain every vendor/user, and contain the total revenue/costs they have accrued -->
    <%const vList = new Map();  %>
    <%const uList = new Map(); %>
    <%let totalRevenue = 0; %>
    <%let totalSpent = 0;%>
    <%let totalOrders = 0;%>
    <%let totalItems = 0;%>

    <%# loop through every order and calculate the total revenue for every restaurant %>
    <%metrics.forEach(function(order){ %>
      <%totalOrders++;%>
      <%order.items.forEach(function(item){ %>
        <%totalItems++;%>
        <%# if the vendor is being added for the first time, set the value to 0 %>
        <% if (typeof vList.get(order.vendorName) === 'undefined'){ %>
          <%vList.set(order.vendorName, item.price);%>
        <%} else { %>
            <%vList.set(order.vendorName, vList.get(order.vendorName) + item.price);%>
        <%}%>
      <%});%>
    <%});%>

    <%# loop through every order and calculate the total cost for every user %>
    <%metrics.forEach(function(order){ %>
      <%order.items.forEach(function(item){ %>
        <%# if the user is being added for the first time, set the value to 0 %>
        <% if (typeof uList.get(order.userEmail) === 'undefined'){ %>
          <%uList.set(order.userEmail, item.price);%>
        <%} else { %>
            <%uList.set(order.userEmail, uList.get(order.userEmail) + item.price);%>
        <%}%>
      <%});%>
    <%});%>


    <%# vendor metrics table %>
    <h1>Vendor Metrics</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Total Revenue</th>
          <th scope="col">Vendor</th>
        </tr>
      </thead>
      <tbody>
        <%# for each vendor %>
        <% vList.forEach((revenue, vendorName) => { %>
              <tr>
                <%totalRevenue += revenue;%>
                <th scope="row"><%="$"+revenue%></th>
                <td><%=vendorName%></td>
              </tr>
        <%});%>
      </tbody>
    </table>

    <%# user metrics table %>
    <h1>User Metrics</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Total Money Spent</th>
          <th scope="col">User Email</th>
        </tr>
      </thead>
      <tbody>
        <%# for each user %>
        <% uList.forEach((spent, userName) => { %>
          <%totalSpent += spent;%>
              <tr>
                <th scope="row"><%="$"+spent.toFixed(2)%></th>
                <td><%=userName%></td>
              </tr>
        <%});%>
      </tbody>
    </table>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <%console.log(totalRevenue);%>
          <h1><%="Total Revenue: $" + totalRevenue.toFixed(2)%></h1>
        </div>
        <div class="col-3">
          <h1><%="Total Spent: $" + totalSpent.toFixed(2)%></h1>
        </div>
        <div class="col-3">
          <h1><%="Total Orders Placed: " + totalOrders%></h1>
        </div>
        <div class="col-3">
          <h1><%="Total Items Purchased: "+ totalItems%></h1>
        </div>
      </div>
    </div>
</body>
</html>
  </body>
</html>
