<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vendor Edit Menu</title>
  </head>
  <body>
    <%-include("partials/vendorLoginHeader")-%>
    <div id = "backgroundStockImage">
      stock image goes here
    </div>
    <!-- for each section -->
    <div class="container-fluid">
    <% menu.forEach(function(section){ %>
      <div class="row justify-content-center">
        <h1><%=section.title%></h1>
        <%# for each item %>
        <% let counter = 0; %>
        <% let rowClosed; %>
        <% section.items.forEach(function(item){ %>
          <%# if we hit a third item, create a new row %>
          <% if (counter % 2 == 0) { %>
            <div class="row justify-content-center">
              <% rowClosed = false;%>
          <%}%>
          <!-- start of item card -->
          <div class="col-sm">
            <div class="card mb-3" style="width: 21rem;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="..." alt="Card image cap" class="card-img-top">
                </div>
                <div class="col-md-8">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%=item.name%></li>
                    <li class="list-group-item"><%=item.calories%></li>
                    <li class="list-group-item"><%=item.price%></li>
                  </ul>
                  <div class="row">
                    <div class="col-sm">
                      <button type="button" class="btn btn-primary" name="button">Delete Item</button>
                    </div>
                    <div class="col-sm">
                      <button type="button" class="btn btn-primary" name="button">Edit Item</button>
                    </div>
                    <div class="col-sm">
                      <button type="button" class="btn btn-danger" name="button">Mark Unavailable</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- end of item card -->
            <% if (counter % 2 == 1) { %>
              <% rowClosed = true; %>
              </div>
            <%}%>
            <% counter++; %>
          <%});%>
          <% if (!rowClosed) { %>
            <!-- </div> -->
          <%}%>
          </div>

        <%});%>
        </div>
    </div>
  </body>
</html>
